body {
    font-size: 12pt;
    font-family: Circular, Roboto, Arial, Helvetica, sans-serif;
    padding: 15px;
    border: 2px black;
    background-color: rgb(255, 244, 230);
}

header {
    text-align: center;
    font-size: 18pt;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: '✧ ';
}

.page {
    max-width: 1200px;
    margin: auto;
}

.tab {
    padding: 2px 5px;
    color: green;
    border: 3px solid pink;
    border-radius: 5px;
    font-size: 15pt;
}

.tab:hover {
    font-weight: bold;
    /* padding: 4px; */
}

.hide,
#popup {
    display: none;
}

/* maybe set up a flex grid for this shit lol? */
container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2px 25px; */
    justify-content: flex-start;
}

item {
    max-width: 350px;
    /* flex-grow: 1; */
    min-width: 280px;
    /* flex: 1 1; */
}

li:hover {
    color: rgb(211, 42, 42);
    background-color: rgb(255, 228, 141);
}

@font-face {
    font-family: Circular;
    src: url("@font-face/860c3ec7bbc5da3e97233ccecafe512e.woff");
}
