.photo {
  height: 215px;
  width: 150px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  :hover {
    background-color: lightblue;
  }
}

.card {
  flex-grow: 1;
  min-width: 150px;
  max-width: 180px;
  border: 1px beige solid;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.card-title{
  font-weight: bold;
}